<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373252388150-7shsrl3cemiqsilhp114kmnqjtq6vmra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373252388150-7shsrl3cemiqsilhp114kmnqjtq6vmra</string>
	<key>API_KEY</key>
	<string>AIzaSyAjc6fGRX-RdW67rwN4CM5AzWyRSb8IE9k</string>
	<key>GCM_SENDER_ID</key>
	<string>373252388150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testing.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-isaac2</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-isaac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373252388150:ios:cbb477fb90da418e8eef97</string>
</dict>
</plist>